body {
  background:
    linear-gradient(rgba(8, 10, 35, 0.55), rgba(8, 10, 35, 0.75)),
    url("/img/background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.page-transition {
  opacity: 0;
  transition: opacity 0.25s ease;
}

body.page-transition.page-ready {
  opacity: 1;
}

body.page-transition.page-leaving {
  opacity: 0;
}